In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv(r"C:\Users\arash\Desktop\SpringBoard\Starbucks-Location-Mapping-master\Starbucks-Location-Mapping-master\store_data.csv")
df.head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [20]:
df.dtypes

Brand              object
Store Number       object
Store Name         object
Ownership Type     object
Street Address     object
City               object
State/Province     object
Country            object
Postcode           object
Phone Number       object
Timezone           object
Longitude         float64
Latitude          float64
dtype: object

In [15]:
df.select_dtypes(exclude=['int', 'float'])

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai
...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,Licensed,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon
25596,Starbucks,24010-226985,Panorama,Licensed,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon
25597,Starbucks,47608-253804,Rosebank Mall,Licensed,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg
25598,Starbucks,47640-253809,Menlyn Maine,Licensed,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg
25599,Starbucks,47609-253286,Mall of Africa,Licensed,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg

In [28]:
df['Ownership Type'].value_counts()

Company Owned    11932
Licensed          9375
Joint Venture     3976
Franchise          317
Name: Ownership Type, dtype: int64

In [29]:
df = pd.get_dummies(df, columns=['Ownership Type'], drop_first=True)

In [30]:
df

,Brand,Store Number,Store Name,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,Ownership Type_Franchise,Ownership Type_Joint Venture,Ownership Type_Licensed
0,Starbucks,47370-257954,"Meritxell, 96","Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51,0,0,1
1,Starbucks,22331-212325,Ajman Drive Thru,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42,0,0,1
2,Starbucks,47089-256771,Dana Mall,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39,0,0,1
3,Starbucks,22126-218024,Twofour 54,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48,0,0,1
4,Starbucks,17127-178586,Al Ain Tower,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,SG,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78,0,0,1
25596,Starbucks,24010-226985,Panorama,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,SG,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72,0,0,1
25597,Starbucks,47608-253804,Rosebank Mall,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,GT,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15,0,0,1
25598,Starbucks,47640-253809,Menlyn Maine,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,GT,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79,0,0,1
25599,Starbucks,47609-253286,Mall of Africa,"Shop 2077, Upper Level, Waterfall City",Midrand,GT,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02,0,0,1

In [46]:
df['State/Province'][df['State/Province'].value_counts()<500]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [74]:
df['State/Province'].nunique()

337

In [75]:
df[list(df['State/Province'].value_counts()<500)]

ValueError: Item wrong length 337 instead of 25600.

In [50]:
counts = df['State/Province'].value_counts()

In [76]:
type(df['State/Province'].value_counts()>500)

pandas.core.series.Series

In [63]:
df['State/Province'][(df['State/Province'].value_counts())[df['State/Province'].value_counts()<500]] = 'other'

<ipython-input-63-60953abe8e0e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State/Province'][(df['State/Province'].value_counts())[df['State/Province'].value_counts()<500]] = 'other'

In [66]:
df['State/Province'].nunique()

337

In [68]:
m = (df['State/Province'].value_counts())[df['State/Province'].value_counts()<500]

In [71]:
df['State/Province'][m] = 'other'

<ipython-input-71-7613125c6e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State/Province'][m] = 'other'

In [72]:
df['State/Province'][m].nunique()

1

In [85]:
(df['State/Province'].value_counts()<500).nunique()

2

In [91]:
m = df['State/Province'].isin(counts[counts<500].index)

In [93]:
df['State/Province'][m] = 'other'

<ipython-input-93-7613125c6e6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['State/Province'][m] = 'other'

In [94]:
df['State/Province'].nunique()

12

In [96]:
df['Area'] = pd.cut(df['Longitude'], 
                   bins= [-np.inf, 40, 80, np.inf],
                   labels=['west', 'middle', 'east'])

In [97]:
df

,Brand,Store Number,Store Name,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude,Ownership Type_Franchise,Ownership Type_Joint Venture,Ownership Type_Licensed,Area
0,Starbucks,47370-257954,"Meritxell, 96","Av. Meritxell, 96",Andorra la Vella,other,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51,0,0,1,west
1,Starbucks,22331-212325,Ajman Drive Thru,"1 Street 69, Al Jarf",Ajman,other,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42,0,0,1,middle
2,Starbucks,47089-256771,Dana Mall,Sheikh Khalifa Bin Zayed St.,Ajman,other,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39,0,0,1,middle
3,Starbucks,22126-218024,Twofour 54,Al Salam Street,Abu Dhabi,other,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48,0,0,1,middle
4,Starbucks,17127-178586,Al Ain Tower,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,other,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51,0,0,1,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25595,Starbucks,21401-212072,Rex,"141 Nguyễn Huệ, Quận 1, Góc đường Pasteur và L...",Thành Phố Hồ Chí Minh,other,VN,70000,08 3824 4668,GMT+000000 Asia/Saigon,106.70,10.78,0,0,1,east
25596,Starbucks,24010-226985,Panorama,"SN-44, Tòa Nhà Panorama, 208 Trần Văn Trà, Quận 7",Thành Phố Hồ Chí Minh,other,VN,70000,08 5413 8292,GMT+000000 Asia/Saigon,106.71,10.72,0,0,1,east
25597,Starbucks,47608-253804,Rosebank Mall,"Cnr Tyrwhitt and Cradock Avenue, Rosebank",Johannesburg,other,ZA,2194,27873500159,GMT+000000 Africa/Johannesburg,28.04,-26.15,0,0,1,west
25598,Starbucks,47640-253809,Menlyn Maine,"Shop 61B, Central Square, Cnr Aramist & Coroba...",Menlyn,other,ZA,181,NaN,GMT+000000 Africa/Johannesburg,28.28,-25.79,0,0,1,west
25599,Starbucks,47609-253286,Mall of Africa,"Shop 2077, Upper Level, Waterfall City",Midrand,other,ZA,1682,27873500215,GMT+000000 Africa/Johannesburg,28.11,-26.02,0,0,1,west