# Exploratory Data Analysis

In [1]:
# Load necessary libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [5]:
df = pd.read_csv('.\data\cleaned_data.csv')
df.head()

,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,TotalMonthlyIncomeAmount,HUDMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
0,Boston,50,7,15540,34.0,4.577,132474,84290,7308,93000,...,7,7,7,5,8,8,8,8,2,1
1,Boston,50,7,15540,29.0,3.421,100795,84290,7416,93000,...,7,7,7,2,7,7,7,7,2,1
2,Boston,50,15,99999,9532.0,6.152,49625,67566,5143,71900,...,7,7,7,2,7,7,7,7,2,1
3,Boston,50,17,30100,9594.0,3.935,62643,67105,8866,71900,...,7,7,7,2,7,7,7,7,2,1
4,Boston,23,31,38860,254.0,6.031,87679,76445,15240,90100,...,7,7,7,5,8,8,8,8,2,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89763 entries, 0 to 89762
Data columns (total 51 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Bank                             89763 non-null  object
 1   FIPSStateNumericCode             89763 non-null  int64
 2   FIPSCountyCode                   89763 non-null  int64
 3   CoreBasedStatisticalAreaCode     89763 non-null  int64
 4   CensusTractIdentifier            89763 non-null  float64
 5   CensusTractMinorityRatioPercent  89763 non-null  float64
 6   CensusTractMedFamIncomeAmount    89763 non-null  int64
 7   LocalAreaMedianIncomeAmount      89763 non-null  int64
 8   TotalMonthlyIncomeAmount         89763 non-null  int64
 9   HUDMedianIncomeAmount            89763 non-null  int64
 10  LoanAcquisitionActualUPBAmt      89763 non-null  int64
 11  LTVRatioPercent                  89763 non-null  float64
 12  NoteDate                         89763 non-null  int64
 13  LoanAcquistionDate               89763 non-null  int64
 14  LoanPurposeType                  89763 non-null  int64
 15  MortgageType                     89763 non-null  int64
 16  ScheduledTotalPaymentCount       89763 non-null  int64
 17  LoanAmortizationMaxTermMonths    89763 non-null  int64
 18  MortgageLoanSellerInstType       89763 non-null  int64
 19  BorrowerCount                    89763 non-null  int64
 20  BorrowerFirstTimeHomebuyer       89763 non-null  int64
 21  Borrower1Race1Type               89763 non-null  int64
 22  Borrower2Race1Type               89763 non-null  int64
 23  Borrower1GenderType              89763 non-null  int64
 24  Borrower2GenderType              89763 non-null  int64
 25  Borrower1AgeAtApplicationYears   89763 non-null  int64
 26  Borrower2AgeAtApplicationYears   89763 non-null  int64
 27  PropertyUsageType                89763 non-null  int64
 28  PropertyUnitCount                89763 non-null  int64
 29  NoteRatePercent                  89763 non-null  float64
 30  NoteAmount                       89763 non-null  int64
 31  HousingExpenseRatioPercent       89763 non-null  float64
 32  TotalDebtExpenseRatioPercent     89763 non-null  float64
 33  Borrower1CreditScoreValue        89763 non-null  int64
 34  Borrower2CreditScoreValue        89763 non-null  int64
 35  PMICoveragePercent               89763 non-null  float64
 36  EmploymentBorrowerSelfEmployed   89763 non-null  int64
 37  PropertyType                     89763 non-null  object
 38  MarginRatePercent                89763 non-null  int64
 39  Borrower1EthnicityType           89763 non-null  int64
 40  Borrower1Race2Type               89763 non-null  int64
 41  Borrower1Race3Type               89763 non-null  int64
 42  Borrower1Race4Type               89763 non-null  int64
 43  Borrower1Race5Type               89763 non-null  int64
 44  Borrower2EthnicityType           89763 non-null  int64
 45  Borrower2Race2Type               89763 non-null  int64
 46  Borrower2Race3Type               89763 non-null  int64
 47  Borrower2Race4Type               89763 non-null  int64
 48  Borrower2Race5Type               89763 non-null  int64
 49  HOEPALoanStatusType              89763 non-null  int64
 50  LienPriorityType                 89763 non-null  int64
dtypes: float64(7), int64(42), object(2)
memory usage: 34.9+ MB

In [10]:
#load state data so we can study the data based on the state names instead of state number

In [12]:
state = pd.read_csv(r'.\data\us-state-ansi-fips.csv')
state.head()

       stname   st  stusps
0     Alabama    1      AL
1      Alaska    2      AK
2     Arizona    4      AZ
3    Arkansas    5      AR
4  California    6      CA

In [13]:
#Join these two dataframes to have the state names

In [16]:
df.join(state.stname, on=state.st)

AttributeError: 'DataFrame' object has no attribute 'st'

In [7]:
#banks by name and state

In [9]:
df.Bank.value_counts()

Chicago          22460
Topeka           16092
Des Moines       14467
Cincinnati       11250
Dallas            8069
Indianapolis      5677
Pittsburgh        4458
Boston            2824
San Francisco     2487
New York          1979
Name: Bank, dtype: int64