In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2019_PUDB_EXPORT_123119.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89767 entries, 0 to 89766
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             89767 non-null  int64
 1   LoanCharacteristicsID            89767 non-null  int64
 2   Bank                             89767 non-null  object
 3   FIPSStateNumericCode             89767 non-null  int64
 4   FIPSCountyCode                   89767 non-null  int64
 5   CoreBasedStatisticalAreaCode     89767 non-null  int64
 6   CensusTractIdentifier            89767 non-null  float64
 7   CensusTractMinorityRatioPercent  89767 non-null  float64
 8   CensusTractMedFamIncomeAmount    89767 non-null  int64
 9   LocalAreaMedianIncomeAmount      89767 non-null  int64
 10  TotalMonthlyIncomeAmount         89767 non-null  int64
 11  HUDMedianIncomeAmount            89767 non-null  int64
 12  LoanAcquisitionActualUPBAmt      89767 non-null  int64
 13  LTVRatioPercent                  89767 non-null  float64
 14  NoteDate                         89767 non-null  int64
 15  LoanAcquistionDate               89767 non-null  int64
 16  LoanPurposeType                  89767 non-null  int64
 17  ProductCategoryName              89767 non-null  int64
 18  MortgageType                     89767 non-null  int64
 19  ScheduledTotalPaymentCount       89767 non-null  int64
 20  LoanAmortizationMaxTermMonths    89767 non-null  int64
 21  MortgageLoanSellerInstType       89767 non-null  int64
 22  BorrowerCount                    89767 non-null  int64
 23  BorrowerFirstTimeHomebuyer       89767 non-null  int64
 24  Borrower1Race1Type               89767 non-null  int64
 25  Borrower2Race1Type               89767 non-null  int64
 26  Borrower1GenderType              89767 non-null  int64
 27  Borrower2GenderType              89767 non-null  int64
 28  Borrower1AgeAtApplicationYears   89767 non-null  int64
 29  Borrower2AgeAtApplicationYears   89767 non-null  int64
 30  PropertyUsageType                89767 non-null  int64
 31  PropertyUnitCount                89767 non-null  int64
 32  NoteRatePercent                  89767 non-null  float64
 33  NoteAmount                       89767 non-null  int64
 34  HousingExpenseRatioPercent       89767 non-null  float64
 35  TotalDebtExpenseRatioPercent     89767 non-null  float64
 36  Borrower1CreditScoreValue        89767 non-null  int64
 37  Borrower2CreditScoreValue        89767 non-null  int64
 38  PMICoveragePercent               89767 non-null  float64
 39  EmploymentBorrowerSelfEmployed   89767 non-null  int64
 40  PropertyType                     89767 non-null  object
 41  IndexSourceType                  89767 non-null  int64
 42  MarginRatePercent                89767 non-null  int64
 43  PrepaymentPenaltyExpirationDate  89767 non-null  object
 44  Borrower1EthnicityType           89767 non-null  int64
 45  Borrower1Race2Type               89767 non-null  int64
 46  Borrower1Race3Type               89767 non-null  int64
 47  Borrower1Race4Type               89767 non-null  int64
 48  Borrower1Race5Type               89767 non-null  int64
 49  Borrower2EthnicityType           89767 non-null  int64
 50  Borrower2Race2Type               89767 non-null  int64
 51  Borrower2Race3Type               89767 non-null  int64
 52  Borrower2Race4Type               89767 non-null  int64
 53  Borrower2Race5Type               89767 non-null  int64
 54  HOEPALoanStatusType              89767 non-null  int64
 55  LienPriorityType                 89767 non-null  int64
dtypes: float64(7), int64(46), object(3)
memory usage: 38.4+ MB

In [30]:
df.isnull().sum()/df.count()

Year                               0.0
LoanCharacteristicsID              0.0
Bank                               0.0
FIPSStateNumericCode               0.0
FIPSCountyCode                     0.0
CoreBasedStatisticalAreaCode       0.0
CensusTractIdentifier              0.0
CensusTractMinorityRatioPercent    0.0
CensusTractMedFamIncomeAmount      0.0
LocalAreaMedianIncomeAmount        0.0
TotalMonthlyIncomeAmount           0.0
HUDMedianIncomeAmount              0.0
LoanAcquisitionActualUPBAmt        0.0
LTVRatioPercent                    0.0
NoteDate                           0.0
LoanAcquistionDate                 0.0
LoanPurposeType                    0.0
ProductCategoryName                0.0
MortgageType                       0.0
ScheduledTotalPaymentCount         0.0
LoanAmortizationMaxTermMonths      0.0
MortgageLoanSellerInstType         0.0
BorrowerCount                      0.0
BorrowerFirstTimeHomebuyer         0.0
Borrower1Race1Type                 0.0
Borrower2Race1Type                 0.0
Borrower1GenderType                0.0
Borrower2GenderType                0.0
Borrower1AgeAtApplicationYears     0.0
Borrower2AgeAtApplicationYears     0.0
PropertyUsageType                  0.0
PropertyUnitCount                  0.0
NoteRatePercent                    0.0
NoteAmount                         0.0
HousingExpenseRatioPercent         0.0
TotalDebtExpenseRatioPercent       0.0
Borrower1CreditScoreValue          0.0
Borrower2CreditScoreValue          0.0
PMICoveragePercent                 0.0
EmploymentBorrowerSelfEmployed     0.0
PropertyType                       0.0
IndexSourceType                    0.0
MarginRatePercent                  0.0
PrepaymentPenaltyExpirationDate    0.0
Borrower1EthnicityType             0.0
Borrower1Race2Type                 0.0
Borrower1Race3Type                 0.0
Borrower1Race4Type                 0.0
Borrower1Race5Type                 0.0
Borrower2EthnicityType             0.0
Borrower2Race2Type                 0.0
Borrower2Race3Type                 0.0
Borrower2Race4Type                 0.0
Borrower2Race5Type                 0.0
HOEPALoanStatusType                0.0
LienPriorityType                   0.0
dtype: float64

In [3]:
pip install lux

Requirement already satisfied: lux in c:\users\arash\anaconda3\lib\site-packages (0.8.2)
Requirement already satisfied: pytz in c:\users\arash\anaconda3\lib\site-packages (from lux) (2021.1)
Requirement already satisfied: pulsar-odm in c:\users\arash\anaconda3\lib\site-packages (from lux) (0.7.0)
Requirement already satisfied: greenlet in c:\users\arash\anaconda3\lib\site-packages (from lux) (1.0.0)
Requirement already satisfied: jinja2 in c:\users\arash\anaconda3\lib\site-packages (from lux) (2.11.3)
Requirement already satisfied: python-dateutil in c:\users\arash\anaconda3\lib\site-packages (from lux) (2.8.1)
Requirement already satisfied: pyjwt in c:\users\arash\anaconda3\lib\site-packages (from lux) (2.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\arash\anaconda3\lib\site-packages (from jinja2->lux) (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\arash\anaconda3\lib\site-packages (from pulsar-odm->lux) (1.4.7)
Requirement already satisfied: psycopg2 in c:\users\arash\anaconda3\lib\site-packages (from pulsar-odm->lux) (2.9.1)
Requirement already satisfied: pulsar in c:\users\arash\anaconda3\lib\site-packages (from pulsar-odm->lux) (2.0.2)
Requirement already satisfied: multidict in c:\users\arash\anaconda3\lib\site-packages (from pulsar->pulsar-odm->lux) (5.1.0)
Requirement already satisfied: six>=1.5 in c:\users\arash\anaconda3\lib\site-packages (from python-dateutil->lux) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import lux

In [31]:
df

,Year,LoanCharacteristicsID,Bank,FIPSStateNumericCode,FIPSCountyCode,CoreBasedStatisticalAreaCode,CensusTractIdentifier,CensusTractMinorityRatioPercent,CensusTractMedFamIncomeAmount,LocalAreaMedianIncomeAmount,...,Borrower1Race3Type,Borrower1Race4Type,Borrower1Race5Type,Borrower2EthnicityType,Borrower2Race2Type,Borrower2Race3Type,Borrower2Race4Type,Borrower2Race5Type,HOEPALoanStatusType,LienPriorityType
0,2019,2407198,Boston,50,7,15540,34.0,4.577,132474,84290,...,7,7,7,5,8,8,8,8,2,1
1,2019,2407199,Boston,50,7,15540,29.0,3.421,100795,84290,...,7,7,7,2,7,7,7,7,2,1
2,2019,2407200,Boston,50,15,99999,9532.0,6.152,49625,67566,...,7,7,7,2,7,7,7,7,2,1
3,2019,2407201,Boston,50,17,30100,9594.0,3.935,62643,67105,...,7,7,7,2,7,7,7,7,2,1
4,2019,2407202,Boston,23,31,38860,254.0,6.031,87679,76445,...,7,7,7,5,8,8,8,8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89762,2019,2491966,Topeka,31,111,35820,9599.0,17.119,54688,69210,...,7,7,7,5,8,8,8,8,2,1
89763,2019,2491967,Topeka,31,111,35820,9606.0,5.698,85714,69210,...,7,7,7,2,7,7,7,7,2,1
89764,2019,2491968,Topeka,31,13,99999,9512.0,13.887,84821,73964,...,7,7,7,2,7,7,7,7,2,1
89765,2019,2491969,Topeka,31,111,35820,9598.0,6.373,73150,69210,...,7,7,7,2,7,7,7,7,2,1
89766,2019,2491970,Topeka,31,111,35820,9597.0,3.080,74500,69210,...,7,7,7,2,7,7,7,7,2,1

In [73]:
(df.Borrower1CreditScoreValue == 9).sum()

155

In [11]:
df1 = pd.read_csv('adult.data.csv')

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32560 non-null  int64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  int64
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32560 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32560 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  int64
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [17]:
df1 = pd.read_excel('Historical and Future Weather Files.xlsx')

#

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8778 entries, 0 to 8777
Data columns (total 69 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Location Title      8777 non-null   object
 1   Latitude {N+/S-}    8773 non-null   object
 2   Longitude {E+/W-}   8770 non-null   object
 3   TimeZone {+/- GMT}  8773 non-null   object
 4   Elevation {m}       8772 non-null   object
 5   Unnamed: 5          8772 non-null   object
 6   Unnamed: 6          8770 non-null   object
 7   Unnamed: 7          8768 non-null   object
 8   Unnamed: 8          8768 non-null   object
 9   Unnamed: 9          8768 non-null   object
 10  Unnamed: 10         8768 non-null   object
 11  Unnamed: 11         8768 non-null   object
 12  Unnamed: 12         8768 non-null   object
 13  Unnamed: 13         8768 non-null   object
 14  Unnamed: 14         8768 non-null   object
 15  Unnamed: 15         8768 non-null   object
 16  Unnamed: 16         8768 non-null   object
 17  Unnamed: 17         8768 non-null   object
 18  Unnamed: 18         8766 non-null   object
 19  Unnamed: 19         8766 non-null   object
 20  Unnamed: 20         8766 non-null   object
 21  Unnamed: 21         8767 non-null   object
 22  Unnamed: 22         8767 non-null   object
 23  Unnamed: 23         8767 non-null   object
 24  Unnamed: 24         8767 non-null   object
 25  Unnamed: 25         8766 non-null   object
 26  Unnamed: 26         8766 non-null   object
 27  Unnamed: 27         8766 non-null   object
 28  Unnamed: 28         8766 non-null   object
 29  Unnamed: 29         8766 non-null   object
 30  Unnamed: 30         8766 non-null   object
 31  Unnamed: 31         8766 non-null   object
 32  Unnamed: 32         4 non-null      object
 33  Unnamed: 33         4 non-null      object
 34  Unnamed: 34         3 non-null      object
 35  Unnamed: 35         3 non-null      object
 36  Unnamed: 36         3 non-null      object
 37  Unnamed: 37         4 non-null      object
 38  Unnamed: 38         4 non-null      object
 39  Unnamed: 39         4 non-null      object
 40  Unnamed: 40         4 non-null      object
 41  Unnamed: 41         4 non-null      object
 42  Unnamed: 42         4 non-null      object
 43  Unnamed: 43         4 non-null      object
 44  Unnamed: 44         4 non-null      object
 45  Unnamed: 45         4 non-null      object
 46  Unnamed: 46         4 non-null      object
 47  Unnamed: 47         4 non-null      object
 48  Unnamed: 48         4 non-null      object
 49  Unnamed: 49         3 non-null      object
 50  Unnamed: 50         3 non-null      object
 51  Unnamed: 51         3 non-null      object
 52  Unnamed: 52         3 non-null      object
 53  Unnamed: 53         3 non-null      object
 54  Unnamed: 54         3 non-null      object
 55  Unnamed: 55         3 non-null      object
 56  Unnamed: 56         3 non-null      object
 57  Unnamed: 57         3 non-null      object
 58  Unnamed: 58         3 non-null      object
 59  Unnamed: 59         3 non-null      object
 60  Unnamed: 60         3 non-null      object
 61  Unnamed: 61         3 non-null      object
 62  Unnamed: 62         3 non-null      object
 63  Unnamed: 63         3 non-null      object
 64  Unnamed: 64         3 non-null      object
 65  Unnamed: 65         3 non-null      object
 66  Unnamed: 66         3 non-null      object
 67  Unnamed: 67         3 non-null      object
 68  Unnamed: 68         3 non-null      object
dtypes: object(69)
memory usage: 4.6+ MB

In [20]:
df1.head(20)

,Location Title,Latitude {N+/S-},Longitude {E+/W-},TimeZone {+/- GMT},Elevation {m},Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,LOCATION_Toronto Pearson Intl AP_ON_CAN_CWEC_7...,43.67,-79.63,-5,173,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Number of Design Conditions,Title of Design Condition,NaN,Design Stat,ColdestMonth,DB996,DB990,DP996,HR_DP996,DB_DP996,...,DBmin_stddev,DBmax_stddev,DBmin05years,DBmax05years,DBmin10years,DBmax10years,DBmin20years,DBmax20years,DBmin50years,DBmax50years
2,NaN,NaN,NaN,Units,{},{°C},{°C},{°C},{},{°C},...,{°C},{°C},{°C},{°C},{°C},{°C},{°C},{°C},{°C},{°C}
3,1,Climate Design Data 2013 ASHRAE Handbook,NaN,Heating,1,-18.1,-15.6,-23.3,0.5,-17.6,...,3.3,1.9,-24,35.3,-25.9,36.4,-27.7,37.5,-30.1,38.9
4,Number of Typical/Extreme Periods,Period Name,Period Type,Period Start Day,Period End Day,<repeat to # periods>,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6,Summer - Week Nearest Max Temperature For Period,Extreme,2019-07-08 00:00:00,2019-07-14 00:00:00,Summer - Week Nearest Average Temperature For ...,Typical,2019-08-19 00:00:00,2019-08-25 00:00:00,Winter - Week Nearest Min Temperature For Period,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Number of Ground Temperature Depths,Ground Temperature Depth {m},Soil Conductivity {W/m-K},Soil Density {kg/m3},Soil Specific Heat {J/kg-K},Jan {C},Feb{C},Mar {C},Apr {C},May {C},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,0.5,NaN,NaN,NaN,-3.57,-4.65,-2.74,0.25,8.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Leap Year Observed?,Daylight Saving Start Date,Daylight Saving End Date,Number of Holidays,Holiday Name,Holiday Date,<repeat for # Holidays>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,No,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Comment Line #1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,WYEC2 -- WMO#716240; CWEC Canadian Weather for...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Comment Line #2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Downloaded from Climate.OneBuilding.Org -- Gro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Number of Data Periods [DP],Number of Intervals per Hour,DP Name/Description,DP Start Day of Week,DP Start Day,DP End Day,<repeat to # Data Periods>,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1,1,Data,Sunday,2019-01-01 00:00:00,2019-12-31 00:00:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Date,HH:MM,Datasource,DryBulb {C},DewPoint {C},RelHum {%},Atmos Pressure {Pa},ExtHorzRad {Wh/m2},ExtDirRad {Wh/m2},HorzIRSky {Wh/m2},...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Date,HH:MM,Datasource,Dry Bulb Temperature {C},Dew Point Temperature {C},Relative Humidity {%},Atmospheric Pressure {Pa},Extraterrestrial Horizontal Radiation {Wh/m2},Extraterrestrial Direct Normal Radiation {Wh/m2},Horizontal Infrared Radiation Intensity from S...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1969-01-01 00:00:00,01:00:00,A_A__*A_9*__Q_M_Q_Q_Q_9_____________*_*___*,-11.9,-16.6,65,99220,0,9999,204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1969-01-01 00:00:00,02:00:00,A_A__*A_9*__Q_M_Q_Q_Q_9_____________*_*___*,-14.3,-19.3,63,99150,0,9999,190,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN