This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'VR_Pwz2NjQW9MeyPxJ3K'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests
import json
import pandas as pd
import numpy as np

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
res = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json/?start_date=2017-01-01&end_date=2017-01-04api_key=VR_Pwz2NjQW9MeyPxJ3K')
json_file = res.json()

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
json_file

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (2020-11-02) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2020-12-01T14:48:09.907Z',
  'newest_available_date': '2020-12-01',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2017-01-01',
  'end_date': '2017-01-04',
  'data': [['2017-01-04',
    35.48,
    35.51,
    34.75,
    35.19,
    None,
    54408.0,
    1906810.0,
    None,
    None,
    None],
   ['2017-01-03',
    35.9,
    35.93,
    35.34,
    35.48,
    None,
    70618.0,
    2515473.0,
    None,
    None,
    None],
   ['2017-01-02',
    34.99,
    35.94,
    34.99,
    35.8,
    None,
    44700.0,
    1590561.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': None,
  'database_id': 6129}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [5]:
res = requests.get('https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json/?start_date=2017-01-01&end_date=2017-12-31')
json_file = res.json()

In [6]:
for i in json_file.keys():
    print(i)

dataset

In [8]:
print(type(json_file))

<class 'dict'>

In [9]:
data = json_file['dataset']['data']
print(json_file['dataset']['column_names'])

['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']

In [10]:
# I just slice the data part of dictionary so it's easier to work on it. However, I can just use 
# json_file['dataset']['data'] instead of data, but to decrease the typing effort I just use data variable.

In [11]:
print(f'Highst opening pirce value happened at : {max(data, key=lambda x: x[1] or 0)[0]}')
print(f'Highst opening pirce value is : {max(data, key=lambda x: x[1] or 0)[1]}')

Highst opening pirce value happened at : 2017-12-14
Highst opening pirce value is : 53.11

In [12]:
print(f'Lowest opening pirce value happened at : {min(data, key=lambda x: x[1] or 0)[0]}')
print(f'Lowest opening pirce value is : {min(data, key=lambda x: x[1] or 0)[1] and not None}')

Lowest opening pirce value happened at : 2017-05-01
Lowest opening pirce value is : None

In [13]:
print(f'Highst opening pirce value happened at : {max(data, key=lambda x: x[5] or 0)[0]}')
print(f'Highst opening pirce value is : {max(data, key=lambda x: x[5] or 0)[1]}')

Highst opening pirce value happened at : 2017-12-29
Highst opening pirce value is : 51.76

In [23]:
diff = []
for i in range(len(data)):
    diff.append(data[i][2] - data[i][3])
largest_change = max(diff)

In [27]:
print('largest change in any one day (based on High and Low price): {}'.format(round(largest_change,2)))

largest change in any one day (based on High and Low price): 2.81

In [41]:
diff = []
for i in range(len(data)-1):
    diff.append(abs(data[i][4] - data[i+1][4]))
largest_change = max(diff)

In [42]:
print('the largest change between any two days (based on Closing Price) : {}'.format(round(largest_change,2)))

the largest change between any two days (based on Closing Price) : 2.56

In [35]:
print('The average daily trading volume during 2017 : {}'.format(round(data.iloc[:,6])))

SyntaxError: invalid syntax (<ipython-input-35-2595ee01a087>, line 1)

In [51]:
df.iloc[:,[6]]

     Traded Volume
0          34640.0
1          40660.0
2          57452.0
3          71165.0
4         120649.0
..             ...
250        27507.0
251        48412.0
252        54408.0
253        70618.0
254        44700.0

[255 rows x 1 columns]

In [15]:
# Additionally, I transform the dist to data frame and find the solutions to make sure my answers are correct.

In [16]:
df = pd.DataFrame(data)
columns = json_file['dataset']['column_names']
df.columns = columns

In [17]:
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

In [18]:
highest = max(df['Open'])
lowest = min(df['Open'])
print('The highest opening price in 2017 was: '+ str(highest))
print('The lowest opening price in 2017 was: ', lowest)

The highest opening price in 2017 was: 53.11
The lowest opening price in 2017 was:  34.0

In [19]:
lg = max(df['High'] - df['Low'])
print('The largest chanhe in on day is ' + str(round(lg,2)))

The largest chanhe in on day is 2.81

In [28]:
lg = []
for i in range(len(df['Close']) - 1):
    diff = abs(df['Close'][i] - df['Close'][i+1])
    lg.append(diff)
print(round(max(lg),2))

2.56

In [33]:
print('The average daily trading volume during this year : {}'.format(round(df['Traded Volume'].mean(),2)))

The average daily trading volume during this year : 89124.34

In [32]:
print('The median trading volume during this year : {}'.format(round(df['Traded Volume'].median(),2)))

The median trading volume during this year : 76286.0